.player {
    width: 200px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    background-color: lightgray;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    padding: 8px 16px;

    &>img {
        width: 60px;
        object-fit: contain;
        border-radius: 50%;
    }

    &>span {
        font-size: 32px;
    }
}

.active_player {
    background-color: burlywood;
}