<section class="player_arrangement">
    @for (player of game.players; track player) {
    <app-player [player]="player" />
    }
</section>

<section class="table">

    <div class="card_stack">
        <!-- card stack -->
        @for (card of game.stack; track card; let lastCard = $last; let index = $index) {
        @if (!lastCard) {
        <img [ngStyle]="{'right.px': index * 0.5, 'top.px': -index * 0.5}" src="assets/graphics/card_cover.png"
            alt="card image">
        }
        @else {
        <img (click)="tackeCard(); playedCards()" class="top_card"
            [ngStyle]="{'right.px': index * 0.5, 'top.px': -index * 0.5}" src="assets/graphics/card_cover.png"
            alt="card image">
        }
        }

        <!-- played cards -->
        @for (card of game.playCard; track card; let index = $index) {
        <img class="play_card" [ngStyle]="{'right.px': lastStackIndex * index * 0.5}" src="assets/graphics/{{card}}.png"
            alt="card image">
        }

        <!-- drawn card -->
        @if (pickCardAnimation) {
        <img class="drawn_card" [ngStyle]="{'right.px': lastStackIndex * 0.5}" src="assets/graphics/{{drawnCard}}.png"
            alt="card image">
        }
    </div>

</section>

<button mat-fab (click)="openDialog()" color="primary" class="btn_add">
    <mat-icon>add</mat-icon>
</button>